/* Responsive styles */

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .search-bar-container {
      padding: 1rem;
    }
  
    .carousel-section {
      grid-template-columns: 1fr;
    }
  
    .offer-grid {
      grid-template-columns: 1fr;
    }
  
    .image-map-container {
      width: 100%;
      margin-top: 2rem;
    }
  
    .direct-route-section {
      flex-direction: column;
      text-align: center;
    }
  
    .popular-tools-links {
      flex-direction: column;
      align-items: center;
    }

    .newsletter-section {
        width: 400px !important;
    }

    .newsletter-input-container {
        width: 300px !important;
    }
  }
  
  /* For screens smaller than 460px */
  @media (max-width: 460px) {
    .search-bar-container {
      padding: 0.5rem;
    }
  
    .carousel-section {
      flex-direction: column;
    }
  
    .offer-item {
      padding: 2rem;
      width: 100%;
    }
  
    .newsletter-button {
      padding: 0.5rem;
      width: 100%;
    }

    .trending-cities-section {
        flex-direction: column;
        grid: auto / 1fr;
    }
  }
  