@media (max-width: 640px) {
  .settings-section {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 400px !important;
    margin-right: 78px;
  }

  .modif-button p {
    position: relative;
    top: 180px;
    left: 2px;
  }

  .voyageur-section {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 400px !important;
    margin-left: -40px !important;
  }

  .date-section {
    align-items: normal !important;
    margin-left: -46px;
    width: 216px;
  }

  .num-section {
    margin-left: -8px;
  }

  .modif-button p {
    position: relative;
    top: 152px;
    left: -170px;
    font-size: smaller;
    width: 100px;
  }

  .companion-section {
    flex-direction: column !important;
    align-items: end !important;
  }
}

@media (max-width: 440px) {

  .liens {
    margin-right: 117px !important;
    padding-inline: 168px;
    padding-block: 10px;
    display: grid !important;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -moz-column-gap: 8rem;
    column-gap: 7rem;
    text-align: center !important;
    justify-content: center !important;
    justify-items: center;
    align-items: center !important;
    background-color: peru;
    border-radius: 15px;
  }
  
  .settings-section {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 340px !important;
    margin-right: 113px;
}

.infos-section {
  flex-direction: column !important;
}

.companion-section {
  flex-direction: column !important;
  align-items: end !important;
}
}
