{% extends 'base.html.twig' %}

{% block title %}{{sitename is defined ? sitename : "Resultat de votre recherche"}}{% endblock %}

{% block body %}
    <div id="root">
        
    </div>
{% endblock %}